{% extends 'index.html' %}

{% load static %}

{% block titulo %}
Biblioteca.dev | Listado de Libros
{% endblock titulo %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
{% endblock extra_css %}

{% block body %}

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-8">
        <strong class="card-title">Listado de Libros</strong>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-success float-right"
          onclick="abrir_modal(creacion,'{% url 'libro:crear_libro' %}');">Crear Autor
        </button>
        <a href=""></a>
      </div>
    </div>


  </div>
  <div class="table-stats order-table ov-h">
    <table id="tabla_libros" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Fecha Publicacion</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<!--MODAL-->
<div class="modal" id="creacion" role="dialog">

</div>
<div class="modal" id="edicion" role="dialog">

</div>
<div class="modal" id="eliminacion" role="dialog">

</div>


{% endblock body %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/libro/libro.js' %}"></script>
{% endblock extrajs %}  